version: '3.8'

services:
  web:
    build: ./docker
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app
    environment:
      - ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/news_aggregator
    depends_on:
      - db

  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: news_aggregator
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: